# --- Other ---
documents

# --- Binaries & Executables
main.exe

# --- Docker & Environment ---
.env
docker-data/

# --- Go Dependencies ---
vendor/
tmp/
main

# --- Backend ---
__debug_*

# --- Frontend ---
frontend/node_modules/
.pnp
.pnp.js
frontend/dist/
frontend/build/
.DS_Store

# --- IDEs ---
.vscode/
.idea/
*.swp