
services:
  ## SKIP FRONTEND UNTIL WE HAVE REACT CODE READY
  ## The Frontend (React)
  #frontend:
  #  # look for Dockerfile in fronted to figure out React setup
  #  build: ./frontend
  #  # so i can see website by typing localhost:3000 in browser
  #  ports:
  #    - "3000:3000"
  #  # link the folder on my PC to the folder in the container
  #  volumes:
  #    - ./frontend:/app

  # The Backend (Go)
  backend:
    # look for Dockerfile in backend to figure out Go setup
    build: ./backend
    ports:
      - "8080:8080"
    # user and pass: placeholders for db credentials
    # db is the name of the service below
    environment:
      - DB_URL=postgres://user:pass@db:5432/portfolio
    # dont start backend until the db is ready
    depends_on:
      - db

  # The Database (PostgreSQL)
  db:
    # grab official version 15 of PostgreSQL from internet
    image: postgres:15
    # set generic user, password and folder inside db for the data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=portfolio
    ports:
      - "5432:5432"